.page {
  font-family: "Ubuntu", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.header__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.header__link {
  margin-left: 15px;
  font-size: 14px;
  text-decoration: none;
  color: #202020;
}

.header__button {
  margin-left: 15px;
  background-color: #5528ff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  display: block;
  width: 58px;
  height: 58px;
  background: url("../img/logo.svg");
  margin-right: 20px;
}

.logo__text {
  font-size: 24px;
  color: #202020;
  font-weight: bold;
}
