.page {
  font-family: "Ubuntu", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  font-weight: bold;
  padding: 30px 15px 0;
  box-sizing: border-box;
}

.header__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.header__item {
  margin-left: 24px;
}
.header__link {
  font-size: 14px;
  text-decoration: none;
  color: #202020;
}

.header__button {
  background-color: #5528ff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  display: block;
  width: 58px;
  height: 58px;
  background: url("../img/logo.svg");
  margin-right: 25px;
}

.logo__text {
  font-size: 24px;
  color: #202020;
}

.wrap {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.page {
  padding: 40px 0;
  position: relative;
}

.page-top {
  border-top: 1px solid #c2c2c2;
}

.page__title {
  position: absolute;
  top: -24px;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #c2c2c2;
  background-color: #fff;
  padding: 5px 15px;
}

.title-main {
  font-size: 56px;
  color: #202020;
  font-weight: 700;
}

.text-main {
  font-size: 32px;
  line-height: 1.5;
  color: #4f4f4f;
}

.page__button {
  margin-left: 15px;
  background-color: #5528ff;
  color: #fff;
  border-radius: 10px;
  padding: 10px 45px;
  border: none;
  font-size: 24px;
  font-weight: 300;
}

.services {
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}

.services__item {
  display: flex;
  align-items: center;
}

.services__img {
  flex-basis: 120px;
  text-align: center;
}

.services__text {
  flex-basis: calc(100% - 120px);
}
.services__title {
  font-size: 28px;
  font-weight: 400;
}

.services__paragraph {
  font-size: 14px;
  color: #b2b2b2;
  line-height: 1.5;
}

.clients {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 25%);
  text-align: center;
}

.team {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 33%);
  grid-row-gap: 40px;
}

.team__item {
  display: flex;
  align-items: center;
}

.team__img {
  margin-right: 20px;
}

.team__text {
  flex-basis: calc(100% - 100px);
}

.footer {
  padding: 20px 0;
  background-color: #f7f7f7;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social__link {
  display: flex;
  margin-left: 15px;
  align-items: center;
}
